<answer fraction="{{fractionPercent}}" format="moodle_auto_format">
    <text>{{answerTxt}}</text>
    <feedback format="html">
    <text><![CDATA[<p>{{answerFeedback}}</p>]]></text>
    </feedback>
</answer>